body {
  font-family: Arial, sans-serif;
  background: #fff;
}
nav {
  background-color: #3b141c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
}
.renglon {
  color: #fff;
  font-size: 24px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #0000;
}
nav a:hover {
  background-color: #f3961c;
  color: black;
  border-radius: 100px;
}

.titulo {
  text-align: center;
}

.contact {
  background: linear-gradient(to bottom, #fdf7f7, #f3eeee);
  padding: 50px 0;
}

.contact-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.underline {
  width: 60px;
  height: 3px;
  background: #f3961c;
  margin-bottom: 20px;
}



.contact-info  {
  margin-top: 250px;
  margin-right: 10px;
  color: #3b141c;
}

/* Formulario */
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-top: 250px;

}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  margin-top: auto;
  text-align: center;
}

.contact-form button {
  background: #3b141c;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #f3961c;
}


@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}


.underline:hover{
  background-color: #f3961c;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.underline {
  width: 60px;
  height: 5px;
  background: #f3961c;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 2px;
}


