@import 
url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body{
    background-color: #252525;
} 

.renglon{
    color: #fff;


}
nav {
    background-color: #3b141c;
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin-left: 55%;
}

nav ul li {
    display: inline;
    margin: 0 30px;
    list-style: none;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    
}
nav ul li a:hover {
    color: #f3961c;
    border-radius: 20px;
}

.titulo {
    color: #f3961c;
    font-family: 50px;
    font-size: 50px;
    text-align: center;
    
}
.subtitulo{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    max-width: 300px;
}
.descripcion{
    color: #fff;
    margin-top: 8px;
    max-width: 380px;
    font-family: 30px;
    font-size: 15px;
}



section{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.container{
    width: 360px;
    height: 480px ;
    padding: 10px;
    margin-top: 200px;
    box-sizing: border-box;
    position: relative;
    background: #030303;
    border-radius: 20px;
}
